*.iml
/*.ipr
/*.iws
/Gemfile.lock
/_buildr.rb
/reports
/target
/tmp
/generated
/*/generated
/**/Wip.java
/.sass-cache
/node_modules
/docusaurus/node_modules
/docusaurus/lib/core/metadata.js
/docusaurus/lib/core/MetadataBlog.js
/docusaurus/website/translated_docs
/docusaurus/website/build/
/docusaurus/website/yarn.lock
/docusaurus/website/node_modules
/docusaurus/website/i18n
