language: ruby
jdk:
- oraclejdk8
sudo: false
rvm:
- 2.3.1
node_js:
- v6.10.3
before_install:
- openssl aes-256-cbc -K $encrypted_90b1dba0abf8_key -iv $encrypted_90b1dba0abf8_iv
  -in etc/secrets -out ../secrets.tar -d
- "(cd ../ && tar xvf secrets.tar)"
- chmod 600 ../deploy
- eval `ssh-agent -s` && ssh-add ../deploy
- chmod 600 ../release.asc
- gpg --import ../release.asc
- cp etc/settings.xml $HOME/.m2/settings.xml
install:
- nvm install v6.10.3
- nvm use v6.10.3
- npm install -g yarn
- yarn install
- rvm use 2.3.1
- gem install bundler
- bundle install
script: bundle exec buildr ci
after_success:
- bash <(curl -s https://codecov.io/bash)
git:
  depth: false
env:
  global:
  - secure: gKipbAVkdfHInjGK70XX6EDv05Vi9VpZhIem9voMZyC4rZy0yS3t+51nqEMOSAYdO/nA/wozpC45ckOlgQVBPetuYefhWJUr9EmnIXtfI2fb0Q5n8wih80GU34og0zy6RQbeXKBAP5azcS7t0DkQB2JOhFZnM9o7g+J80GyAWcYAiK6KBx1JJkXeXs4apnONROX2LWCyznmY/1Iiqt7ytQgE0d3MuiZBlySqiyriw4MUXoLrP5AD2fJz46fU0k04V+T6M21EpJscuAbXKxu/N4VmRCJWIwcgo4krxTHxmlNeMIkZE1XHAn6H60yOz/Ada8EaCuW6uHGOG7IS1VR/fd8byU8QQIVLnr1CzRwh23d9SaiLBRog+ByL6x/Q31reCigGt+WEdHuy1Fg6K0PXkAw6ABW+4SKbt2bAAuIfS01jDcR6tCnjBGSFNtEbqgSH8sQ6chCR4uHAseqw70DI11cQ3x7DfA5m2cCmJIOm/mty3odOJx7ONzJevM2J1D6vchLROwhtzP5OJVHT8fqxJr/xMThABNaN/IVZFeNAm8g+042/4K6lLvON0onjggSOrIa4C5W5n5oSnNF89zvimwoNmu/hVSTSoVxJ7p+F5FACrw4xPGzFI+ElcIgM+u+lIYGEs0k7GjkEGp8bpfs29OSdog7qhKjbmtmLtSEmqkg=
  - secure: DEk5iVN24cn3ukYDL5tksS/pIgCPYdXunOwRe76sX5Bo6H/ZVpY97JST2GCZtXSg0+opaXf7zTWqJK3WQxqQa8ixTKd3O4PWhYAJ4Z5oVT/hmCBNoaPzIYkwT0XRBoamYLQ56zOBAY+ek77PXrPuDE6C77h6d20upbglwR1jHUw6thxcCMMzCNlgBVRaAKZCaXwlm7WNq5NAiowhow/4FTbtRR+y+kcwzo+WbV4fS9zLAc1xOYmr6FS2HLQJNY/4OrDBzLsMnme6RmLnXI0V9+wb9NiT232E9f5YfnW7MZGR9POUuExUvzUc5KfbZsAtn3nyzHRO6e0DzDL7br/Kcc3Z0hfYHR8XGw0Q/15Au3vGCcWRtYEfk2ULdXdaJrji2laQDdgLx7zx0wxi9SsBrCUeyhLKtf89NHetlnAgvaYsElM172dNnt/aRUjIjq5yrclChijp7K51m4wetH/VwZfYkAQGidkLcK981UWMDStB7aNeP0b5dBvbgftN0Ha/9XOiiG3jGqvPvegkeBh2KFpZhLFJCnPR+WC2Cp+qoHfHMt99AZ+CDowA3EO43aejoCYQrsGcZf26R8HPptEPInSeWL27slBY60GSCGHz/u/SjQZPaLaqAQLq6XPbQt47OKvvj0gBJANuYGu2dIHXM3CETNfJF6YYcgqlimt/JwM=
  - secure: Rv/8ofO/xyEzvSH4UvE8LGevdhSvK/Ut/POQ3mrcEgo+HL8DYzRQQd4YySJEcmzX2zfKm6l6A0Ajx8kzp+vqCgLcd/fptkMAjfzS8GxRsXEsXHyl9rPDMkAdaJ+RdazsYO/x0OezVyxUafPzGlhTfbwza+2SFjh+HIGc22RwGjKud3aESTIYmLJjFwLCXQsb6sjudWO/Z66z6w+Twht3R0WRcz7MIE94uxU3/ydIpgtnJbrrhdtJJH4M2pQ/KxGLG+xPVCzzO6gqzr3OpyUPqvxBji8fquesXMSz8EJEj6QXzZ2dqVnYIX7Whqqo+vCK+ZEwpNOX1DLWF5Iz0aDsA9zl9bnRU1pvjGh7KyKRnVoXwjj2031vX/1JB/Bc9iS7La0wK612M/DouOB2pq4IdUBIno1ozpRQIp9K772qEM1dVh+hhf5zhanySUgGm0hL7cj0YuPThHx2j6C8kDkNma5qnP6aohtF7FMFtq9MucXroxxbG79OgMfcOpe7ItRYP+9AEszaelhxOhM2mlcRHnQAVIRXPBJoRhmvfA/CGNf0kKld2T7o1Iotlna/EVs41Kx6OdmkJi97ztwdg7M3x06ofrlFXkVj/gaZHaYrvigMGbUVZvRk+5w/K96mn+Q/Crt7ZlMuGDfJP23jetEXRTPrM6MoT+qMNScc5kK6HfU=
  - secure: lQW4vJKVwbFwR56C3tsp+jsQjHVqUVGqOe/dj6soUMco8uR653iCd7fzVdddqs/8gyOE97tlBECPjKW252196uWCNCJklscwDrR2UrNknQ6gydgFwPuvA3P0qKm8ZOHeuOMFUnLnKh/iEWsqw5HcA1HXDgcOfm0DGplcZSSy4M8FleZT9P+W8ffZ6SRsm1UHfPMH3+HgkmxOz4EjLp85ZO73bkHoUXZWYtXmlxsB2s+CRJNjZSzvZ2IFSkhne09w3NKxUOFTPIKHjWZOUkHWyqYWGfveEbfz/w1cA4lmKlMs0cJiP1suWkSOn73sgworenHOU0Duyacf00Xh7hXeSOg6YIDcX+0sVo3/bLKFi4BIM+YWWAoKWDkDcmx8nPOge2/uzVAKmHXwMKfPL5ilTpNBsD4TgzoumQLImQveJFc8LjYeyPYD1YmuK+yA0ITnkeewUYDPn8J/xX0LmWXsInhHddeyCWfo8EDoalViTTw6dAVgFsQOZ7uREatzSQk6fvh8xLNsnu+FWOz/ghXJ2w57h5HpUWw1RVfS6gAKNvBEgil1iupbdtm7PPfT9MxU2ZmuBhI7wfb3iEOgiX/AVrqXm8v5sG/JKZFcoiFubYkwHXd27CB/reJgBo0zmboH44cappVj1sGT0hAvxbhOSuTcE1ZEunqPuFuGWPUzRZ4=
  - secure: qiUEVu/HU7a+uutHF/1p+9nE3rHonLtsHtuMV7mefqAvRqVI9ciSMeXR+npab5nHW9DIG7vJeqkVavku4DuBZBnBRFqesqcRhFCklQrOAlXn1E1SUQT9oMq8TcK1Ww6upSfK2TNqh84Cq4raJ/EODreaDkmlPgX8kSR2aG+6Ja48wBlJb0TEGmB2rHXnTeX1AlhH32x0wygHJhp062xyxh4dym8O19Sd2+oRyE1NgCdWqFyeUjSOwB/JLCOMC2qgyyLeAnNCbgglEDtXT5VINOoJyp9K3kERBLqgJ7zCFI0ITLE2T8Z2I9ypiU13OfbbNUQNdCfCekVkzjOcuPEOFAko62JlT5P5EWPY1IRADeR7qCm6gNe7uRdP00LookjLu7V8VSYYlTHukuqwvit4SkwGkT7wYIR+Uo5S1ci+rytf3SWRuN/L744SSiE3+F9pYZPll7sEmucEl2ZZ/VjE1fn3C05C6Om707DY5sUOuN5E8lw7CYzGggsPAHZSNaiJkv1vaSNUUXsd9Hx9s75sAfm2Rgf5PbzGBJSX0vRTrJQA8l24jYy1QFLxX9kIXucRpDPLbz9CHiD2BvsmzUB4DiAI/9M+jp5L9y4o2ZUSnq1V4zsqXatWf8wVrXo4k4NEw2Sw+LdiIBOm4kKKtgI3MTCbkBrZq4eBBg/NwA4yDnA=
